body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 80vw;
  border: 1px solid #ccc;
  background-color: #fff;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
}

.message {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message.interviewer {
  background-color: #e1ffc7;
}

.message.reviewer {
  background-color: #ffcccc;
}

.message.user {
  background-color: #c7e1ff;
}

.chat-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f0f0f0;
}

.system-message {
  background-color: #e1e1e1;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

form {
  display: flex;
  align-items: center;
}

textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  resize: none;
  overflow: hidden;
  min-height: 40px;
  box-sizing: border-box;
  max-height: 150px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.footnote {
  padding: 0px;
  font-style: italic;
  text-align: right;
}

.interviewer-message {
  display: flex;
  justify-content: flex-start;
  /* Aligns to the left */
}

.reviewer-message {
  display: flex;
  justify-content: flex-start;
  /* Aligns to the left */
}

.user-message {
  display: flex;
  justify-content: flex-end;
  /* Aligns to the right */
}